
.rf{
    width: 100%;
    max-width: 370px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border: 1px solid black;
    margin:  0 auto;
    
}
.title {
    margin-bottom: 10px;
    
}
.feild{
    margin-bottom: 10px;
    padding: 5px
    
}
.feild label{
    color: blue;
    display: inline-block;
    width: 120px;
    text-align: end;
}
.feild input{
    font-size: 18px;
}
.but{
    background: ;
    color: ;
}
.but:hover{
    background-color: aqua;
}
/*form 2*/
.rf2{
    width: 700px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
}
.field2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.field2 label{
    display: inline-block;
    width: 270px;
    text-align: left;
    color: blue;
}
.field2 input{
    font-size: 25px;
    width: 420px;
    padding: 5px;
    
}
.box{
    display: flex;
    align-items: center;
    border: 1.5px solid black;
    margin-top: 10px;
}
.left{
    width: 250px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 5px;
    border-right: 1.5px solid black;
    color: blue;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.right{
    padding-left: 20px;
    text-align: left;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
}
input[type="number"]{
    width: 100px;
    align-items: center;
}
.submit{
    margin-left: 20px; 
    width: 150px; 
    font-size: 20px;
    background-color: white;
}
.submit:hover{
    background-color: aqua;
}